@import '../../../styles.scss';

section {
    //width: calc(100vw - $padding_side);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px $padding_side 150px 0;
    overflow: hidden;
    position: relative;
}

.contact-headline-container {
    display: flex;
    gap: 50px;

    .horicontal-lign {
        min-width: 50px;
        margin-top: 65px;
    }
}

.contact-headline-content {
    display: flex;
    flex-direction: column;
}

.contact-content-container {
    display: flex;
    text-align: left;
    padding-left: $padding_side;
    gap: 100px;

    .contact-content-text {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    form {

        display: flex;
        flex-direction: column;
        gap: 32px;
        min-width: 50%;

        .input-container {
            width: 100%; // minus padding input fielt
        }

        input,
        textarea {
            width: calc(100% - 50px);
            padding: 15px 25px 15px 25px;
            border-radius: 10px;
            border: 1px solid $blue;
            background-color: transparent;
            color: white;
            font-size: 16px;
            font-family: 'Poppins';
        }

        textarea {
            resize: vertical;
            min-height: 60px;
        }

        .default-border {
            border: 1px solid $blue;
        }

        input.ng-invalid.ng-dirty,
        textarea.ng-invalid.ng-dirty {
            border: 1px solid red;
        }

        input.ng-valid,
        textarea.ng-valid {
            border: 1px solid green;
        }

        .form-privacy-check {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            width: 100%;
            color: white;
            text-align: left;

            .privacy-row {
                display: flex;
                gap: 12px;
            }

            [type="checkbox"] {
                width: unset;
                padding: 0;
                border: 1px solid $light_blue;
            }

            p {
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: 14px;
            }

            a {
                text-decoration: none;
                color: $blue;
                font-size: 14px;

                &:hover {
                    color: $light_blue;
                }
            }
        }

        .pin-center {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }

        button:disabled {
            background-color: gray;
            // Fügen Sie hier weitere Stile hinzu, um den Button im deaktivierten Zustand anzupassen
        }

        .error-message {
            color: red;
            font-size: 14px;
            // Weitere Stile für die Fehlermeldung
        }

        .success-message {
            color: green;
            // Weitere Stile für die Erfolgsmeldung
        }
    }
}

.shadow {
    position: absolute;
    z-index: -1;
}

.shadow1 {
    right: -450px;
    top: -100px;
}


.shadow2 {
    left: -450px;
    bottom: -400px;
}


.arrow-up {
    position: absolute;
    right: 100px;
    bottom: 50px;

    img{
        height: 39px;
        width: 39px;
    }

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: $wide-breakpoint) {

    .contact-content-container {
        flex-direction: column;
        gap: 45px;
    }

}

@media (max-width: $tablet-breakpoint) {

    section {
        padding-right: calc($padding_side / 2);
        gap: 35px;
    }

    .contact-content-container {
        padding-left: calc($padding_side / 2);
    }

    .arrow-up {
        right: calc($padding_side / 2);
    }

    .contact-headline-container {
        gap: 5px;
    
        .horicontal-lign {
            min-width: calc($padding_side / 2 - 5px);
            margin-top: 50px;
        }
    }

}

@media (max-width: $mobile-breakpoint) {

    section {
        padding-right: calc($padding_side / 4);
    }

    .contact-content-container {
        padding-left: calc($padding_side / 4);
    }

    .arrow-up {
        right: calc($padding_side / 4);
    }

    .contact-headline-container {
        gap: 5px;
    
        .horicontal-lign {
            min-width: calc($padding_side / 4 - 5px);
            margin-top: 35px;
        }
    }
}