@import '../../../styles.scss';

section {
    width: calc(100vw - $padding_side - 0);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px $padding_side 100px 0;
    // height: calc(100vh - 135px);
    overflow: hidden;
    position: relative;
}

.contact-headline-container {
    display: flex;
    gap: 50px;

    .horicontal-lign {
        height: 4px;
        border: 0;
        background-color: $blue;
        min-width: 50px;
        margin-top: 65px;
    }

}

.contact-headline-content {
    display: flex;
    flex-direction: column;


}

.contact-content-container {
    display: flex;
    text-align: left;
    padding-left: $padding_side;
    gap: 100px;

    .contact-content-text {
        display: flex;
        flex-direction: column;
        gap: 35px;

        h3 {
            color: white;
            font-size: 32px;
            font-weight: bold;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    form {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        min-width: 50%;

        .input-container {
            width: calc(100% - 100px); // minus padding input fielt
        }

        input,
        textarea {
            width: 100%;
            padding: 15px 25px 15px 25px;
            border-radius: 10px;
            border: 1px solid $blue;
            background-color: transparent;
            color: white;
            font-size: 16px;
            font-family: 'Poppins';

            &:focus {
                border: 1px solid $light_blue;
            }
        }

        textarea {
            resize: vertical;
            min-height: 60px;
        }

        .default-border {
            border: 1px solid $blue;
        }
        
        input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
        
        input.ng-valid, textarea.ng-valid {
            border: 1px solid green;
        }

        .form-privacy-check {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            width: 100%;
            color: white;
            text-align: left;

            [type="checkbox"] {
                width: unset;
                padding: 0;
                border: 1px solid $light_blue;
            }

            p {
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: 14px;
            }

            a {
                text-decoration: none;
                color: $blue;
                font-size: 14px;

                &:hover {
                    color: $light_blue;
                }
            }
        }

        button:disabled {
            background-color: gray;
            // Fügen Sie hier weitere Stile hinzu, um den Button im deaktivierten Zustand anzupassen
        }

        .error-message {
            color: red;
            font-size: 14px;
            // Weitere Stile für die Fehlermeldung
        }

        .success-message {
            color: green;
            // Weitere Stile für die Erfolgsmeldung
        }

    }


}


.shadow {
    position: absolute;
    z-index: -1;
    left: -400px;
    top: 250px;
}