<header>
    <a class="logo-link" href="/">
        <img class="logo-firstname" src="../../../assets/img/firstname.png" alt="">
    </a>
    <nav>
        <div class="language-container mobile-hidden">
            <a (click)="switchLanguage('de');" class="language-link">DE</a>
            <div class="vertical-lign"></div>
            <a (click)="switchLanguage('en');" class="language-link">EN</a>
        </div>
        <div class="nav-container">
            <div class="nav-child mobile-hidden">
                <a class="nav-link" href="#aboutme">About me</a>
                <div class="underline"></div>
            </div>
            <div class="nav-child mobile-hidden">
                <a class="nav-link" href="#skills">Skills</a>
                <div class="underline"></div>
            </div>
            <div class="nav-child mobile-hidden">
                <a class="nav-link" href="#portfolio">Portfolio</a>
                <div class="underline"></div>
            </div>
        </div>
    </nav>
</header>