@import '../../../styles.scss';

header {
    width: calc(100% - $padding_side * 2);
    padding: 37px $padding_side 37px $padding_side;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    z-index: 30;

    .logo-link {
        display: flex;
        align-items: flex-end;
    }

    nav {
        display: flex;
        gap: 29px;

        .language-container {
            display: flex;
            align-items: center;
            gap: 12px;

            .language-link {
                text-decoration: none;
                color: white;
                font-size: 18px !important;
                transition: all 275ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $light_blue;
                }
            }

            .vertical-lign {
                height: 14px;
                background-color: white;
                width: 2px;
                border: 0;
            }
        }

        .nav-container {

            display: flex;
            gap: 29px;

            .nav-child {

                display: flex;
                flex-direction: column;

                .nav-link {
                    text-decoration: none;
                    color: white;
                    font-size: 23px;
                }

                .underline {
                    width: 55px;
                    height: 3px;
                    background-color: $dark_blue;
                    transition: all 275ms ease-in-out;
                }

                &:hover {

                    a {
                        cursor: pointer;
                        color: $light_blue;
                    }

                    .underline {
                        cursor: pointer;
                        background-color: $blue;
                    }
                }
            }



            img {
                width: 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

}

.logo-firstname {
    width: 216px;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: $tablet-breakpoint) {

    header{
        width: calc(100% - $padding_side * 1);
        padding-left: calc($padding_side / 2);
        padding-right: calc($padding_side / 2);
    }

    .logo-firstname {
        width: 180px;
    }
}

@media (max-width: $mobile-breakpoint) {

    header{
        width: calc(100% - $padding_side * 0.5);
        padding-left: calc($padding_side / 4);
        padding-right: calc($padding_side / 4);
    }

    .logo-firstname {
        width: 150px;
    }
}