@import '../../../styles.scss';

header {
    width: calc(100% - 200px);
    padding: 37px $padding_side 37px $padding_side;
    background-color: $dark_blue;
    display: flex;
    justify-content: space-between;
    align-items: center;


    div {
        display: flex;
        gap: 29px;

        a {
            text-decoration: none;
            color: white;
            font-size: 23px;
            border-bottom: 3px solid $dark_blue;
            transition: all 275ms ease-in-out;

            &:hover {
                cursor: pointer;
                color: #00BEE8;
                border-bottom: 3px solid $blue;
                
            }
        }

        img {
            width: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }




}

.logo-firstname {
    width: 150px;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}