@import '../../../styles.scss';

section {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 100px 0 100px $padding_side;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.about-me-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .about-me-content {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .content-child {
            display: flex;

            .icon-container {
                min-width: 85px;
                text-align: center;

                .icon {
                    height: 50px;
                    width: auto;
                }
            }

        }
    }


}

.about-me-image-container {
    padding-top: 54px;
    display: flex;
    align-items: center;

    .portrait {
        height: 453px;
        width: 453px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid $light_blue;
        z-index: 1;
    }

    .horicontal-lign {
        width: calc($padding_side + $padding_side);
        background-color: $light_blue;
        z-index: 1;
    }

}

.shadow {
    position: absolute;
    right: -350px;
    top: -20px;
    z-index: 11;
}

@media (max-width: $wide-breakpoint) {

    section {
        gap: 80px;
    }

    .about-me-image-container {

        .portrait {
            height: 320px;
            width: 320px;
        }

        .horicontal-lign {
            width: $padding_side;
            min-width: $padding_side;
        }

    }

    .shadow {
        position: absolute;
        right: -380px;
    }

}

@media (max-width: $wide-breakpoint) {

    section {
        gap: 100px;
    }

    .about-me-image-container {

        .portrait {
            height: 320px;
            width: 320px;
        }

        .horicontal-lign {
            width: $padding_side;
            min-width: $padding_side;
        }

    }

}

@media (max-width: 1150px) {

    section {
        gap: 65px;
    }

    .about-me-image-container {

        .portrait {
            height: 280px;
            width: 280px;
        }

    }

}

@media (max-width: $tablet-breakpoint) {

    section {
        padding-left: calc($padding_side / 2);
        padding-right: calc($padding_side / 2);
    }

    .about-me-content-container {
        .about-me-content {
            .content-child {
                .icon-container {
                    min-width: 70px;
                    text-align: left;
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .about-me-content-container {

        h2 {
            font-size: 45px;
        }
    }
}

@media (max-width: $mobile-breakpoint) {

    section {
        padding-left: calc($padding_side / 4);
        padding-right: calc($padding_side / 4);
    }

}

@media (min-width: $bigscreen-breakpoint) {

    section {
        padding-left: $padding_side_bigscreen;
    }

    .about-me-image-container {
        .horicontal-lign {
            width: $padding_side_bigscreen;
            min-width: $padding_side_bigscreen;
        }
    }

    .shadow {
        position: absolute;
        right: 0px;
    }

}