@import '../../../styles.scss';

section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 0 100px $padding_side;
    overflow: hidden;
}

.skills-content-container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .skills-icons-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 123px;
        row-gap: 54px
    }
}

.skills-headline-container {
    display: flex;
    gap: 42px;
    order: 1;

    .skills-headline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        min-width: 471px;

        h2 {
            text-align: right;
            width: 100%;
        }
    }

    .horicontal-lign {
        min-width: 58px;
        margin-top: 70px;
    }
}

.shadow {
    position: absolute;
    left: -400px;
    z-index: -1;
}

@media (max-width: $wide-breakpoint) {

    .skills-content-container {
        .skills-icons-container {
            column-gap: 80px;
            row-gap: 50px;
        }
    }

    .skills-headline-container {
        .skills-headline-content {
            min-width: 420px;
        }
    }
}

@media (max-width: $tablet-breakpoint) {

    section {
        flex-direction: column;
        padding-left: calc($padding_side / 2);
        gap: 80px;
    }

    .skills-headline-container {
        order: unset;
        justify-content: flex-end;
        gap: 5px;

        .skills-headline-content {
            min-width: unset;
            max-width: 500px;
        }

        .horicontal-lign {
            min-width: calc($padding_side / 2);
            margin-top: 55px;
        }
    }

    .skills-content-container {
        padding-right: calc($padding_side / 2);
        align-items: center;

        .skills-icons-container {
            column-gap: 50px;
            row-gap: 40px;
            justify-content: space-between;
        }

    }

}

@media (max-width: $mobile-breakpoint) {

    section {
        padding-left: calc($padding_side / 4);
    }

    .skills-content-container {
        padding-right: calc($padding_side / 4);

        .skills-icons-container {
            column-gap: 20px;
        }
    }

    .skills-headline-container {

        .skills-headline-content {
            min-width: unset;
        }

        .horicontal-lign {
            min-width: calc($padding_side / 4 - 5px);
            margin-top: 33px;
        }
    }
}

@media (min-width: $bigscreen-breakpoint) {

    section {
        padding-left: $padding_side_bigscreen;
    }

    .skills-headline-container {
        .horicontal-lign {
            min-width: calc($padding_side_bigscreen - 42px);
            margin-top: 70px;
        }
    }
    
    .shadow {
        position: absolute;
        left: -200px;
        z-index: -1;
    }

}