@import '../../../styles.scss';

section {
    width: calc(100vw - $padding_side - 0);
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 0 100px $padding_side;
    // height: calc(100vh - 135px);
    overflow-x: hidden;
}

.skills-icons-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 123px;
    row-gap: 54px
}

.skills-headline-container {
    display: flex;
    gap: 42px;

    .skills-headline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        min-width: 471px;

        h2{
            text-align: right;
            width: 100%;
        }
    }

    .horicontal-lign {
        min-width: 58px;
        height: 4px;
        border: 0;
        background-color: $blue;
        margin-top: 70px;
    }
}

.shadow {
    position: absolute;
    left: -400px;
    z-index: -1;
}