@import '../../styles.scss';

section{
    padding: 0 $padding_side 100px $padding_side;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    min-height: calc(100vh - 517px);

    h1,h2,p {
        color:white;
        white-space: unset;
        margin-block-start: 0;
        margin-block-end: 0;        
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 24px;
    }

    a {
        color: $light_blue;

        &:hover {
            color: $blue;
        }
    }


}

@media (max-width: $tablet-breakpoint) {

    section {
        padding-left: calc($padding_side / 2);
        padding-right: calc($padding_side / 2);
        min-height: calc(100vh - 705.34px);

        h1{
            font-size: 32px;
        }
    
        h2{
            font-size: 18px;
        }
    
        p{
            font-size: 14px;
        }
    }

}

@media (max-width: $mobile-breakpoint) {

    section {
        padding-left: calc($padding_side / 4);
        padding-right: calc($padding_side / 4);

        h1{
            font-size: 32px;
        }
    
        h2{
            font-size: 18px;
        }
    
        p{
            font-size: 14px;
        }
    }

    
}