<section>
    <div>
        <img class="shadow" src="../../../assets/img/shadow1.png" alt="">
        <img class="portrait" src="../../../assets/img/portrait1.png" alt="">
    </div>
    <div class="text-container">
        <div class="headline">
            <span>I am</span>
            <div class="main-headline">
                <h1>Tobias Termer</h1>
                <h3>Fullstack Developer</h3>
            </div>
        </div>
        <button class="btn btn-primary">Contact me</button>
    </div>
    <img class="bow" src="../../../assets/img/bow.png" alt="">
    <div class="social-container">
        <div class="horicontal-lign"></div>
        <div class="social-icons">
            <a href="https://github.com/tobiastermer" target="_blank">
                <img class="icon" src="../../../assets/img/icons/github.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/tobias-termer-778328143/" target="_blank">
                <img class="icon" src="../../../assets/img/icons/linkedin.png" alt="">
            </a>
            <a href="mailto:mail@tobias-termer.de" target="_blank">
                <img class="icon" src="../../../assets/img/icons/email.png" alt="">
            </a>
            <a href="mailto:mail@tobias-termer.de" class="mobile-hidden" target="_blank">
                mail(at)tobias-termer.de
            </a>
        </div>
    </div>
    <div class="scroll-down-container mobile-hidden">
        <p class="scroll-down-text">Scroll down</p>
        <img class="scroll-down-icon" src="../../../assets/img/icons/arrow-right-line.png" alt="">
    </div>

</section>