@import '../../../styles.scss';

section {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding_side 0 $padding_side;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.shadow {
    height: 600px;
    bottom: 185px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.portrait {
    height: calc(100vh - 200px);
    position: absolute;
    top: 105px;
    z-index: -1;
}

.bow {
    width: 100vw;
    height: 50vh;
    min-height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.text-container {
    overflow-x: hidden;
    position: absolute;
    top: 100px;
    bottom: 100px;
    margin: auto;
    right: $padding_side;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    z-index: 20;

    .headline {
        display: flex;
        align-items: center;
        gap: 0px;


        span {
            transform: rotate(270deg);
            text-wrap: nowrap;
            color: white;
            font-size: 60px;
            text-align: center;
            margin-block-start: 0;
            margin-block-end: 0;
            line-height: 1;
            white-space: nowrap;
            margin-right: -15px;
            margin-left: -25px;
        }

        .main-headline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            white-space: nowrap;


            h1 {
                font-size: 90px;
                font-weight: bold;
                color: white;
                margin-block-start: 0;
                margin-block-end: 0;
                line-height: 1;
            }

            h3 {
                font-size: 61px;
                font-weight: 400;
                margin-block-start: 0;
                margin-block-end: 0;
                color: $blue;
                text-transform: uppercase;
                line-height: 1;

            }
        }
    }
}

.social-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 42px;
    bottom: 40px;
    left: 0;
    z-index: 10;

    .social-icons {
        display: flex;
        align-items: center;
        gap: 42px;

        .icon {
            height: 40px;
            width: 40px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.horicontal-lign {
    width: $padding_side;
    height: 4px;
    border: 0;
    background-color: $blue;
}

.scroll-down-container {
    position: absolute;
    z-index: 10;
    bottom: 100px;
    right: $padding_side;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    animation: bounce 3s ease-in-out infinite;
    animation-delay: 1s;
    /* Startet die Wiederholung nach einer Pause von 5 Sekunden */

    .scroll-down-text {
        text-wrap: nowrap;
        color: white;
        font-size: 23px;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 1;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    .scroll-down-icon {
        height: 20px;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) rotate(90deg);
        /* Start- und Endposition (ursprüngliche Position) */
    }

    10% {
        transform: translateY(20px) rotate(90deg);
        /* Bewegung nach oben */
    }

    20% {
        transform: translateY(0px) rotate(90deg);
        /* Bewegung nach unten */
    }

    30% {
        transform: translateY(20px) rotate(90deg);
        /* Rückkehr nach oben */
    }

    40% {
        transform: translateY(0px) rotate(90deg);
        /* Rückkehr nach oben */
    }
}


@media (max-width: $wide_breakpoint) {

    .text-container {

        .headline {

            span {
                text-wrap: nowrap;
                font-size: 41px;
                white-space: nowrap;
            }

            .main-headline {
                display: flex;
                flex-direction: column;
                justify-content: center;
                white-space: nowrap;


                h1 {
                    font-size: 60px;
                    line-height: 1;
                }

                h3 {
                    font-size: 41px;
                    line-height: 1;
                }
            }
        }
    }
}


@media (max-width: $tablet_breakpoint) {

    section {
        padding-left: calc($padding_side / 2);
        padding-right: calc($padding_side / 2);
        height: calc(100vh - 191px);
    }

    .shadow {
        height: calc(100vh - 250px);
        right: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
        object-position: top center;
        max-width: 100%;
    }

    .portrait {
        height: calc(100vh - 380px);
        object-fit: cover;
        object-position: top center;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 100%;
    }

    .bow {
        bottom: 215px;
        width: 100%;
        height: 50vw;
        bottom: 215px;
        object-fit: cover;
        min-height: unset;
    }


    .text-container {
        bottom: 125px;
        left: 0;
        right: 0;
        top: unset;

        .headline {

            span {
                font-size: 5.5vw;
            }

            .main-headline {

                h1 {
                    font-size: 8vw;
                }

                h3 {
                    font-size: 5.5vw;
                }
            }
        }
    }

    .social-container {
        right: 0;
    }

    .horicontal-lign {
        width: calc(50% - 146px);

    }

}

@media (max-width: $mobile_breakpoint) {

    section {
        padding-left: calc($padding_side / 4);
        padding-right: calc($padding_side / 4);
        height: calc(100vh - 184px);
    }

    .bow {
        bottom: 215px;
        height: 60vw;
    }

    .text-container {
        bottom: 125px;

        .headline {

            span {
                font-size: 6.5vw;
                margin-right: -10px;
            }

            .main-headline {

                h1 {
                    font-size: 10vw;
                }

                h3 {
                    font-size: 6.8vw;
                }
            }
        }
    }


}