/* You can add global styles to this file, and also import other style files */
/* poppins-100 - latin */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

$dark_blue: #141D2F;
$blue: #4B47FF;
$light_blue: #00BEE8;

$padding_side: 100px;

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/poppins-v20-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/poppins-v20-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/poppins-v20-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.btn {
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    box-shadow: 4px 4px 4px 0px #00000040;
    display: block;
    max-width: fit-content;
    border: 0;
    transition: all 275ms ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.btn-primary {
    background-color: $light_blue;
    transition: all 275ms ease-in-out;

    &:hover {
        background-color: $blue;
    }
}

.btn-project {}

.btn-git {}



@media (min-width: 800px) {
    .desktop-hidden {
        display: none;
    }
}

@media (max-width: 800px) {
    .mobile-hidden {
        display: none;
    }
}