@import '../../../styles.scss';

section {
    // width: calc(100vw - $padding_side);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
    padding: 100px 0 100px $padding_side;
    // height: calc(100vh - 135px);
    // overflow: hidden;
}

.portfolio-headline-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 35px;

    .portfolio-headline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        min-width: 471px;
    }

    .horicontal-lign {
        margin-top: 70px;
    }

    .w-short {
        min-width: 109px;
    }

    .w-long {
        min-width: calc(50vw - 350px);
    }

}

.portfolio-projects-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 200px;
    padding-right: $padding_side;

    .shadow {
        position: absolute;
    }

    .shadow1 {
        left: -600px;
        top: 600px;
        z-index: -1;
    }

    .shadow2 {
        right: -400px;
        bottom: -550px;
    }
}

.app-project:nth-child(even) {
    .project-container {
        .project-image {
            order: 1;
        }
    }
}

@media (max-width: $wide-breakpoint) {}

@media (max-width: $tablet-breakpoint) {

    section {
        // width: calc(100vw - $padding_side / 2);
        padding-left: calc($padding_side / 2);
        gap: 20px;
    }

    .portfolio-headline-container {
        gap: 15px;

        .portfolio-headline-content {
            width: 320px;
            min-width: unset;
        }

        .horicontal-lign {
            margin-top: 55px;
        }

        .w-short {
            min-width: calc($padding_side / 4);
        }

        .w-long {
            min-width: calc(80vw - 350px);
        }

    }

    .portfolio-projects-container {
        padding-right: calc($padding_side / 2);
    }

}

@media (max-width: $mobile-breakpoint) {

    section {
        // width: calc(100vw - $padding_side / 4);
        padding-left: calc($padding_side / 4);
    }

    .portfolio-headline-container {
        gap: 10px;

        .portfolio-headline-content {
            width: 195px;
        }

        .horicontal-lign {
            margin-top: 35px;
        }

        .w-short {
            min-width: calc($padding_side / 4);
        }

        .w-long {
            min-width: calc(90vw - 250px);
        }

    }

    .portfolio-projects-container {
        padding-right: calc($padding_side / 2);
    }

}